// Bulma
@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/bulma/sass/grid/columns.sass';

#globalnav {
	background: #333;
	.notification {
		padding: 0 16px;
		background: none;
		ul {
			li {
				display: inline-block;
				padding: 14px 12px;
				a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
	
}